<h1>This will show your pet and stats</h1>
<a href="/selectOpponent">Select Opponent</a>
<p id="stage">{{pet.stage}}</p>
<h2>
    {{pet.name}}
</h2>
<ul>
    <li>Health Level : <span id="healthLevel">{{pet.healthLevel}}</span></li>
    <li>Health Exp: <span id="currentHealthExp">{{pet.currentHealthExp}}</span></li>
</ul>
<ul>
    <li>Speed Level:<span id="speedLevel"> {{pet.speedLevel}}</span></li>
    <li>Speed Exp: <span id="currentSpeedExp">{{pet.currentSpeedExp}}</span></li>
</ul>
<ul>
    <li>Strength Level: <span id="strengthLevel">{{pet.strengthLevel}}</span></li>
    <li>Strength Exp: <span id="currentStrengthExp">{{pet.currentStrengthExp}}</span></li>
</ul>

<p id="type">{{pet.type}}</p>

<img id="petImage" src="/images/pets/colour{{pet.type}}-stage{{pet.stage}}-happy.png" alt="pet-image">

<button id="feedButton">Feed</button>
<button id="playButton">Play</button>
<button id="battleButton">Battle</button>